* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 2;
  padding-left: 80px; 
  background-image: url('../images/background.jpg');
  background-size: cover;
  overflow-x: hidden; /* Empêche le défilement horizontal */
}

header {
  background-color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

header h1 {
  color: aqua;
  font-size: 50px;
}

h1, h2, h4 {
    color: #333;
}

#accueil, #parcours, #Experience, #Competences, #projets, #leBTS {
    padding: 20px;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px; 
  height: 100%; 
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-start;
  transition: width 0.3s;
}

.nav:hover {
  width: 250px; 
}

.nav div {
  width: 100%; 
  display: flex;
  align-items: center;
  height: 60px;
}

.nav a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background 0.3s, color 0.3s;
  width: 100%; 
  height: 60px; 
  padding: 0.5rem;
  box-sizing: border-box; 
}

.nav a:hover {
    background-color: #555;
}

.nav img.icone {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.nav:hover img.icone {
    width: 50px;
    height: 50px;
}

.nav a span {
    display: none;
    font-size: 1.2rem;
    color: aqua;
}

.nav:hover a span {
    display: inline-block;
}

.nav .NavAccueil {
  background-color: #555;
  border: #555;
  border-radius: 10px;
}


/*=======================================================================================================================================================*/

.container {
  margin-top: 10%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 10px;
  display: flex;
}

.photoProfile {
  border: solid black 5px;
  width: 25%;
  height: 20%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.infoboxGauche, .infoboxDroite {
  padding: 12.5px;
  padding-top: 3%;
  background-color: #595959;
  border: solid black 3px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px; 
}


@media (max-width: 500px){
body{
  overflow-x:hidden;
  left: 0;
  padding: 0;
}
 .nav{
  width: 10vw;
  height: 100%;
  }

 .nav img.icone{
  width: 6vw;
  height: 6vh;
 }

 header{
  left: 0;
  justify-content: center;
  height: 7%;
 }

 header h1{
  font-size: 17px;
 }

 .container{
  flex-direction: column;
  margin-left: 11.5%;
 }

 .infoboxDroite{
  margin-top: 6%;
 }

 .photoProfile {
  width: 40vw;
  border: solid black 2px;
  margin-left: 26%;
 }
}

@media (max-width: 800px) {
  body{
    overflow-x: hidden;
    left: 0;
    padding: 0;
    width: 100vw;
  }
  .nav{
    width: 10%;
  }

  .nav img.icone{
    width: 90%;
  }

  header{
    left: 0;
    height: 10%;
  }

  header h1{
    font-size: 30px;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin-left:11.5% ;
    margin-top: 12%;
    width: 80vw;
  }

  .photoProfile{
    margin-left: 33%;
    width: 35%;
  }

  .infoboxDroite{
    margin-top: 7%;
    margin-left: 9%;
    width: 80%;
  }

  .infoboxGauche{
    margin-left: 9%;
    width: 80%;
  }
 
}

@media (min-width:800px) and (max-width:1000px) {
  body{
    overflow-x: hidden;
    left: 0;
    padding: 0;
    width: 100vw;
  }

  header{
    left: 0;
    height: 10%;
  }

  header h1{
    font-size: 30px;
  }

  .container{
    display: flex;
    flex-direction: column;
    margin-left: 11.5%;
    margin-right: 11.5%;
    width: 80%;
  }

  .photoProfile{
    margin-left: 33%;
    width: 35%;
  }

  .infoboxDroite{
    margin-top: 7%;
    margin-left: 11%;
    width: 80%;
  }

  .infoboxGauche{
    margin-left: 11%;
    width: 80%;
  }
}

@media (min-width:1000px) and (max-width: 2000px) {
  body{
    overflow-x:hidden ;
    left: 0;
    padding: 0;
    width: 100vw;
  }
  .container{
    margin-left: 10%;
  }

  .photoProfile{
    justify-content: center;
  }

  .infoboxDroite{
    width: 35%;
  }

  .infoboxGauche{
    width: 35%;
  }
  
}



